<!DOCTYPE html>
<html>
<head>
  <title>Weather</title>
  <meta http-equiv="refresh" content="15" >
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container" style="padding-top: 35vh;">
        <div class="row align-self-center w-99">
            <div class="col-7 mx-auto">
                <div>
                    <p> Current Weather Status</p>
                    <h1>{{ .Status }}</h1>
                    <p>
                        Water : {{ .Water }} Wind : {{ .Wind }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>